terraform {
  backend "s3" {
    key            = "haproxy/terraform.tfstate"
    bucket         = "terraform-state-sandbox"
    region         = "eu-central-1"
    dynamodb_table = "terraform-state-lock"
  }
}
